body {
    color: black;
}
/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #555e;
    color: black;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 450px
}

.sidenav {
    padding-top: 20px;
    background-color: #3113;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;    
    padding: 15px;
}
.imgtopo {
    text-align: center;
    height: 220px;
    background: #1582;
}
.imguser {
    text-align: center;
    height: 150px;
    width: 150px;
    background: #0222;
}
footer {
    background: #4227;
}
.acesso {
    position: relative;
    display: inline-block;
}
.acesso-content {
    display: none;
    position: absolute;
    background-color: #555e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.acesso:hover .acesso-content {
    display: block;
}
#divPW {
    position: absolute;
    top: 500px;
    width: 900px;
    height: 500px;
    left: 50%;
    margin-left: -450px;
    background-color: white;
}
#linkNovo {
    position: relative;
    /*top: 400px;
    width: 200px;*/
    left: 70%;
    background-color: white;
}
/* Classe Botao */
.botao01 {
    background: -webkit-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
    background: -moz-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
    background: -o-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
    background: -ms-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
    background: linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
    border: 1px solid #CCCCCE;
    border-radius: 3px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, .3),
        0 2px 7px rgba(0, 0, 0, 0.2);
    color: #616165;
    display: block;
    font-family: "Trebuchet MS";
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow:1px 1px 0 #FFF;
    padding: 5px 15px;
    position: relative;
    width: 100px;
}
.botao01:before {
    border: 1px solid #FFF;
    border-radius: 3px;
    box-shadow: inset 0 -2px 12px -4px rgba(70, 70, 70, .2),
        inset 0 3px 2px -1px rgba(255, 255, 255, 1);
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    padding: 5px;
    position: absolute;
}

.botao01:after {
    background: rgba(255, 255, 255, .4);
    border-radius: 2px;
    content: "";
    bottom: 15px;
    left: 0px;
    right: 0px;
    top: 0px;
    position: absolute;
}
.botao01:active {
    box-shadow: inset 0 0 7px rgba(0, 0, 0, .2);
    top: 4px;
}
.botao01:active:before {
    border: none;
    box-shadow:none;
}      
#divTableNotas {
    position: absolute;
    top: 400px;
}    

